body{
    font-family: sans-serif;
}

main {
    padding: 0 10%;
    margin: 40px 0 0 0;
}

a{
    text-decoration: none;
    color: blue;
}

a:hover{
    color: firebrick;
}

article{
    text-align:justify;
}

.title{
    text-align: center;
}

.nav{
    display: flex;
}

.portrait-container{
    display: flex;
}


@media(max-width: 650px) {
    .nav{
        flex-direction: column;
        align-items: center;
    }

    .nav > a{
        margin-bottom: 15px;
    }
    .portrait-container{
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

    .portrait-container > img{
        width: 70%;
        margin-bottom: 20px;
    }
}

@media(min-width: 650px) {
    .nav{
        justify-content: space-evenly;
    }
    .portrait-container{
        justify-content: space-between;
    }

    .portrait-container > img{
        max-height: 30vw;
    }
}